<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4MQ_AV3lcBggqth_ElDtlw_f14g-AVNA</string>
	<key>GCM_SENDER_ID</key>
	<string>129225863121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solimancare.staff</string>
	<key>PROJECT_ID</key>
	<string>doctor-twin</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-twin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129225863121:ios:58d62d0ec46ae84567baf0</string>
</dict>
</plist>